on:
  push:
    branches: [master, ci]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
        with: 
          fetch-depth: 0

      - uses: suisei-cn/actions-download-file@v1
        with:
          url: "https://github.com/HearthSim/Hearthstone-Deck-Tracker/releases/download/v1.16.10/Hearthstone.Deck.Tracker-v1.16.10.zip"

      - name: extract HDT
        run: 7z x Hearthstone.Deck.Tracker-v1.16.10.zip

      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'

      - run: nuget restore

      - run: dotnet build -c Release

      - name: squish all DLLs into one
        run: packages\LibZ.Tool.1.2.0.0\tools\libz.exe inject-dll --assembly .\RecorderPlugin\bin\Release\RecorderPlugin.dll --include .\RecorderPlugin\bin\Release\*.dll --exclude .\RecorderPlugin\bin\Release\RecorderPlugin.dll --overwrite

      - name: upload built DLL
        uses: actions/upload-artifact@v2
        with:
          name: RecorderPlugin.dll
          path: .\RecorderPlugin\bin\Release\RecorderPlugin.dll

      - name: get project version
        id: built-version
        shell: pwsh
        run: echo ::set-output name=version::$((Get-Item .\RecorderPlugin\bin\Release\RecorderPlugin.dll).VersionInfo.ProductVersion)
     
      - name: get latest release version
        id: previous-version
        uses: "WyriHaximus/github-action-get-previous-tag@v1"
        with:
          fallback: 0.0.0.0

      - name: create new release
        if: ${{ steps.previous-version.outputs.tag }} < ${{ steps.built-version.outputs.version }}
        uses: actions/create-release@v1
        id: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.built-version.outputs.version }}
          release_name: Version ${{ steps.built-version.outputs.version }}
          draft: true
          prerelease: false

      - name: upload release assets
        if: ${{ steps.previous-version.outputs.tag }} < ${{ steps.built-version.outputs.version }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }} 
          asset_path: .\RecorderPlugin\bin\Release\RecorderPlugin.dll
          asset_name: Recorder.dll
          asset_content_type: application/octet-stream
